[Unit]
Description=Kuksa.val Service
After=multi-user.target

[Service]
User=teri
Group=teri
Type=simple
ExecStart=/home/teri/Workspace/dias-hackathon-testbed1/modules/kuksa.val/build/src/kuksa-val-server -c /home/teri/Workspace/dias-hackathon-testbed1/modules/kuksa.val/build/src/config.ini

[Install]
WantedBy=multi-user.target 
