[Unit]
Description=Kuksa.val Service
After=multi-user.target

[Service]
User=teri
Group=teri
Type=simple
ExecStart=/usr/bin/kuksa.val/kuksa-val-server -c /etc/kuksa.val/config.ini

[Install]
WantedBy=multi-user.target 
