[Unit]
Description=can2udp service
After=multi-user.target

[Service]
User=teri
Group=teri
Type=simple
ExecStart=/usr/local/bin/can2udp -D -fp 6001 vcan0 192.168.1.227 6000

[Install]
WantedBy=multi-user.target
