[Unit]
Description=CAN gateway for incomming traffic from can0
After=systemd-modules-load
Requires=systemd-modules-load

[Service]
ExecStart=/usr/bin/cangw -A -s can0 -d vcan0 -e
RemainAfterExit=yes
User=root
Group=root
Restart=always                                                                                            
RestartSec=2  

[Install]
WantedBy=multi-user.target
