[Unit]
Description=CAN gateway for outgoing traffic from can0
After=systemd-modules-load
Requires=systemd-modules-load

[Service]
ExecStart=/usr/bin/cangw -A -s vcan0 -d can0 -e
RemainAfterExit=yes
User=root
Group=root
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
