[submodule "modules/dias-firewall"]
	path = modules/dias-firewall
	url = https://github.com/terilenard/dias-firewall.git
	branch = master
[submodule "modules/fork-kuksa.val"]
	path = modules/fork-kuksa.val
	url = https://github.com/junh-ki/kuksa.val.git
[submodule "modules/vehicle_signal_specification"]
	path = modules/vehicle_signal_specification
	url = https://github.com/COVESA/vehicle_signal_specification.git
[submodule "dependencies/tpm2-tss"]
	path = dependencies/tpm2-tss
	url = https://github.com/tpm2-software/tpm2-tss.git
[submodule "dependencies/tpm2-abrmd"]
	path = dependencies/tpm2-abrmd
	url = https://github.com/tpm2-software/tpm2-abrmd.git
[submodule "modules/dias_kuksa"]
	path = modules/dias_kuksa
	url = https://github.com/junh-ki/dias_kuksa.git
[submodule "modules/dias-logging"]
	path = modules/dias-logging
	url = https://github.com/terilenard/dias-logging.git
	branch = master
[submodule "modules/kuksa.val"]
	path = modules/kuksa.val
	url = https://github.com/eclipse/kuksa.val.git
	branch = master
[submodule "modules/dias-cloud-umfst"]
	path = modules/dias-cloud-umfst
	url = https://github.com/terilenard/dias-cloud-umfst.git
[submodule "modules/dias-ltk-stk"]
	path = modules/dias-ltk-stk
	url = https://github.com/terilenard/dias-ltk-stk
[submodule "modules/dias-mixcan"]
	path = modules/dias-mixcan
	url = https://github.com/terilenard/dias-mixcan
[submodule "modules/dias-utilities"]
	path = modules/dias-utilities
	url = https://github.com/terilenard/dias-utilities.git
