[Unit]
Description=Mixcan Module
After=mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/mixcan/manager.py -c /etc/mixcan/config.ini
User=pi

[Install]
WantedBy=multi-user.target