[Unit]
Description=CloudFeeder SecOc
After=kuksa.val.service mosquitto.service
Requires=kuksa.val.service mosquitto.service

[Service]
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/cloudfeeder/cloudfeeder.py --host localhost -u cloudfeeder -P cloudfeeder -p 1883 -t telemetry

StandardOutput=append:/var/log/cloudfeeder/info.log
StandardError=append:/var/log/cloudfeeder/error.log

[Install]
WantedBy=multi-user.target
