[Unit]
Description=DBCFeeder SecOc
After=kuksa.val.service

[Service]
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/secoc/dbcfeeder.py
User=teri
Group=teri

StandardOutput=append:/var/log/dbcfeeder/info.log
StandardError=append:/var/log/dbcfeeder/error.log

[Install]
WantedBy=multi-user.target
