[Unit]
Description=Dias Firewall and Intrustiun Detection Module
After=pycan.service

[Service]
User=teri
Group=teri
Type=simple
ExecStart=/usr/local/bin/diasfw/DiasFirewall
Restart=always
RestartSec=5

StandardOutput=append:/var/log/diasfw/fwoutput.log
StandardError=append:/var/log/diasfw/fwerror.log

[Install]
WantedBy=multi-user.target
