[Unit]
Description=Dias Firewall Log Publisher
After=diasfw.service
	
[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/diasfw/pyclient_mqtt.py --client_id mqtt-client@t6906174622ff488ba9b97d1fefc53459 --password 1234 --host mqtt.bosch-iot-hub.com --port 8883 --cafile /etc/diasfw/certs/iothub.crt --log_file /var/log/diasfw/fwoutput.log
Restart=always
RestartSec=5
	
[Install]
WantedBy=multi-user.target
