[Unit]
Description=DIAS TPM2 Logger
After=mosquitto.service

[Service]
ExecStart=python3 /usr/lib/python3/dist-packages/dias-logging/tpm_logger.py -c /etc/dias-logging/config.ini
User=teri
Group=teri

[Install]
WantedBy=multi-user.target
