Package: DIASFirewall
Version: 1.0-1
Section: base
Priority: optional
Architecture: armhf
Maintainer: Roland Bolboaca <roland.bolboaca@umfst.ro>
Description: Dias Firewall, Intrusion Detection System and Secure Logging
