[Unit]
Description=CAN Player sevice. Continously replayes a CAN log file.
After=socketcan-interface.service
Before=kuksa.val.service

[Service]
User=teri
Group=teri
Type=simple
ExecStart=/bin/can-player/can-player.sh /var/log/can-player/dias.log

[Install]
WantedBy=multi-user.target
