[Unit]
Description=Pycan Module
#Before=diasfw.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/python3/dist-packages/pycan/pycan.py -c /etc/pycan/pycan.cfg
Restart=always
RestartSec=5
User=pi

[Install]
WantedBy=multi-user.target